@import "../../styles/variables";

.article {
  //background-color: $third !important;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 3em;
  margin-bottom: 0;

  .anime {
    margin: 1em;
    background-color: $third;
    max-height: 25vh;
    min-height: 25vh;
    overflow-y: auto;
    .card .card-img-top {
      height: 25vh;
    }
    img {
      object-fit: cover;
      height: 25vh;
    }
    .more {
      width: 95%;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 1.5em;
    }
  }
  h2 {
    color: $secondary;
    font-size: 4vw;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px;
  }
  .h5 {
    color: $secondary !important;
  }
  .card-text {
    color: $secondary;
  }
}
