@import "../../styles/variables";
.carousel-item {
  img {
    height: 40vw;
    object-fit: cover;
  }
}
.carousel-caption {
  h3,
  p {
    color: white;
    text-align: right;
  }
  h3 {
    font-size: 6vw;
  }
  p {
    font-size: 2vw;
  }
}
